.tags {
  overflow: hidden;
  margin-top: 2em;
  margin-bottom: -1em;
}
.tags a.tag {
  color: #686868;
  background: #ededed;
  display: block;
  float: left;
  padding: 4px 8px;
  margin: 2px 0 2px 8px;
}
.tags a.tag:hover {
  text-decoration: none;
  background: #efefef;
  color: #333;
}
.tags a.tag:first-child {
  margin-left: 0;
}
.related {
  border: none;
}
.post {
  border-bottom: 1px solid #eee;
  margin-bottom: 2em;
  padding-bottom: 1em;
}
